.banner {
  .categoryBox {
    border-right: 1px solid var(--light-gray-color);
    padding-top: 40px;

    ul {
      list-style: none;
      margin: 0;
      margin-left: 0;
    }
    .categoryItem {
      transition: var(--transition);
      list-style: none;
      padding: 8px 0;

      &:hover {
        background-color: var(--light-gray-color);
        padding-left: 0.5rem;
      }
      a {
        &:hover {
        }
      }
    }
  }
  .bannerSliderBox {
    padding: 40px 0px 0 45px;
    .bannerBox {
      background-color: #000;
      padding: 0px 54px;

      .bannerImage {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .banner {
    width: 100%;
    .bannerImage {
      img {
        object-fit: scale-down;
      }
    }
    .categoryBox {
      border-right: 0px !important;
      border-bottom: 1px solid var(--light-gray-color);
      padding-top: 10px;
    }
    .bannerSliderBox {
      padding: 0.5rem 0;
      .bannerBox {
        padding: 0px 24px;
      }
    }
  }
}
