.btn-number {
  width: 40px;
  height: 44px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;

  //   &:disabled {
  //     background-color: #ccc;
  //   }
  &:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    svg {
      stroke: #fff !important;
      color: #fff !important;
    }
  }
}
.btnLeft {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btnRight {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-number {
  width: 80px;
  height: 44px;
  text-align: center;

  color: #000 !important;
  border-top-color: #000;
  border-bottom-color: #000;
  border-left: none;
  border-right: none;
  &:active {
    border: 0 !important;
  }
  &:focus {
    border: none !important;
  }
}
