// checkout form
.checkoutForm {
  width: 60%;

  .form-control {
    box-shadow: none !important;
    border-color: transparent;
    background-color: #f5f5f5;
    &:focus {
      border-color: black !important;
    }
  }
}
