.mainSection {
  border-bottom: 1px solid var(--light-gray-color);
  .mainSectionContent {
    .left {
      height: 600px;
      .bigBanner {
        border-radius: 0.5rem;
        img {
          margin-top: 5.5rem;
          margin-left: 10%;
        }
      }
      .bigBannerContent {
        top: 78%;
        color: #fff;
        width: 242px;
        margin-left: 32px;
        p {
          font-size: 14px !important;
          margin-bottom: 16px;
        }
        h4 {
          font-size: 24px;
          // margin-bottom: 16px;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }
  .mainSectionName {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    h3 {
      margin-left: 36px;
      margin-top: 0.9rem;
      font-size: 16px;
    }
    &::after {
      content: "";
      width: 20px;
      height: 40px;
      background-color: var(--primary-color);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0.3rem;
    }
  }
  .mainSectionTittle {
    h4 {
      font-size: 30px;
      font-weight: 600;
    }
  }
  .mainSectionTittleArrows {
    position: relative;
    .swiper-pagination {
      button {
        outline: none;
        border: none;
        background-color: transparent;
      }
    }
  }
}

.speaker {
  width: 49%;
  img {
    width: 100%;
  }
}
.perfum {
  width: 49%;
  img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .bigBanner {
    border-radius: 0.4rem;
    img {
      width: 100%;
      margin-left: 0 !important;
    }
  }
}
