.product {
  background-color: #fff;

  .productImageWishList {
    background-color: #f5f5f5;
  }
  .discountBox {
    z-index: 10;
    padding: 4px 10px;
    border-radius: 4px;
    top: 3%;
    left: 3%;
  }

  .productImage {
    width: 100%;
    margin-bottom: 0.5rem;
    height: 250px;
    img {
      width: 190px;
      height: 180px;
    }

    &:hover {
      .addToCartBox {
        display: block !important;
      }
    }
    .addToCartBox {
      display: none !important;
      transition: var(--transition);
      text-align: center;
      top: 80%;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
    .addToCartBox2 {
      transition: var(--transition);
      text-align: center;
      top: 80%;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
.deleteFromWishList {
  background-color: #fff;
  border: none;
  outline: none;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  left: 85%;
  top: 5%;
}
