// import bootstrap custom file
@import "./libraries/bootstrap/custom";

@import "./variables";

// import component style
@import "./Components/Header";
@import "./Components/footer";
@import "./Components/searchInput";
@import "./Components/Banner";
@import "./Components/mainInput.scss";

// import pages style
@import "./Pages/register.scss";

ul {
  margin: 0;
  list-style: none;
  li {
    list-style: none;
    display: inline-block;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
