.register {
  //   padding: 40px 0 120px 0;
  .registerBanner {
    img {
      height: 781px;
    }
  }
  .registerForm {
    width: 90%;
  }

  .formContentBox {
    width: 75%;
    padding-top: 125px;
  }
}
